.container__header{
  display: flex;
  flex-direction: row;
  background-color: var(--dynamic-background-color);
  backdrop-filter: blur(6px);
}

.container__header,
.container__header .container__boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.8rem;
}

/* .container__header__items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.8rem;
} */


.logo__header{
     
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  top: 0;
  width: 75px;
  height: 15px;
}
.container__header__profile{
display: flex;
justify-content: flex-end;
margin: 0.1rem;
width: 32px;
height: 32px;
}
.container__header__item__profile-img{
margin: auto 0.2rem;
width: 100%;
height: 100%;
cursor: pointer;
}
