.main__container{
  flex-direction: column;
}

.main__container, 
.main__container .container__boxes{
  flex: 1;
  display: flex;
  gap: var(--gutter);
  margin: 0 0.7rem;
}

.container__board{
  display: flex;
  background: #0000;
  cursor: default;
  margin: 0.7rem 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  max-width: calc(100% - 0px);
  overflow: hidden;
  padding-left: 2rem;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container__board__title{
  color: var(--color-white);
  font-size: 25px;
  font-weight: var(--fw-bold);
  line-height: var(--line-height-tittle-board);
  padding: 0 12px;
}

.container__columns{
  background-color: var(--color-card);
  width: 272px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container__columns--modifier{
  background-color: #ffffff9d;
  cursor: no-drop;
  border-radius: 3px;
  height: inherit;
  height: auto;
  height: 40px;
  min-height: 40px;
  padding: 4px;
  transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in; 
}

.add-card__icons{
  display: block;
  width: 172px;
  cursor: no-drop;
  color: #fff;
  padding: 6px 8px;
  transition: color 85ms ease-in;
}

.add-card__icon{
  cursor: no-drop;
  display: block;
  color: #fff;
  margin-right: 2px;
}

.container__boxes__column__add-list{
  cursor: no-drop;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}


.container__row__title{
  display: flex;
  padding: 10px 8px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container__row__title__card{
  color: var(--color-blue-tittle-card);
  font-weight: var(--fw-bold); 
  font-family: var(--f-third);
  font-size: var(--font-size-title-card);
  line-height: var(--line-height-tittle);
  border-radius: 3px;
  padding: 4px 8px;
}

.container__row__title__icons{
  display: flex;
  text-decoration: none;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.container__row__title__icon{
  font-size: var(--font-sise-icon);
  color: var(--color-gray-icon);
  line-height: 20px;
  border-radius: 3px;
  padding: 6px;
}

.container__row__title__icon:hover{
  transition: var(--duration-transition-base);
  color: var(--color-black-tittle-card);
}

.container__tasks{
  border-radius: 5px;
  flex: 1 1 auto;
  margin: 0.2rem 0.5rem;
  padding: 0 4px;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 0;
  max-height: 210px;
}

.container__tasks__row{
  cursor: pointer;
  border-radius: 3px;
  padding: 6px 8px 2px;
  box-shadow: 0 1px 0 var(--color-border-card);
  background-color: var(--color-white);
  color: var(--color-blue-tittle-card);
  display: block;
  margin: 0 0 4px;
  margin-bottom: 8px;
  text-decoration: none;
}

.container__tasks__row:hover{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 5px solid var(--color-black);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: var(--duration-transition-base);
  color: var(--color-blue-tittle-card);
}

.container__task__title{
  margin: 1rem 0;
  font-size: 16.5px;
  color: var(--color-blue-tittle-card);
  font-weight: var(--fw-semi-bold);
}

.container__tasks__description{
  width: auto;
  height: auto;
  margin: 10px 0;
}

.container__tasks__responsible{
  margin: 10px 0;
}

.container__add-task{
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
  max-height: 38px;
  min-height: 38px;
}

.container__add-target{
  color: var(--color-gray-icon);
  display: block;
  flex: 1 0 auto;
  margin: 2px 0 8px 8px;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
}
.container__add-target:hover{
  transition: var(--duration-transition-base);
  color: var(--color-black-tittle-card);
}

.container__tasks__badges{
  display: block;
  flex: 1 0 auto;
  margin: 5px 1px;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
}

.container__task__badges__due-date{
  color: var(--color-gray-icon);
}